.container {
    width: 75vw;
}

.container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;    
}

.container .carousel .item {
    margin: 10px;
    padding: 10px;
    
}