.swiper {
   padding: 75px;
}

.swiper-slide {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #4978ff;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}
.swiper-slide:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

.swiper-slide a {
    text-decoration: none;
    color: rbga(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}
.swiper-slide a h2{
    font-size: 1.5em;
    margin-bottom: 18px;
    margin-top: 0;
}

.swiper-slide a img {
    padding: 20px;
    width: 450px;
    margin-bottom: 15px;
    transition: 0.5s;
    opacity: 1;
    border-radius: 15%;
}
.swiper-slide a img:hover {

    opacity: 0.2;
    
}

@media (max-width:992px) {
    .swiper {
        display: none;
    }
}