.socialSidebar {
    display: flex;
    position: fixed;
    top: 24%;
    right: 0;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 75px;
    height: 35%;
    background-color: rgb(180, 48, 48);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 0px 0px 10px #000;

    
}
.socialSidebar__item a{
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #fff;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    box-shadow: 0px 0px 10px #000;
}
.socialSidebar__item a:hover{
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    box-shadow: 0px 0px 10px #000;
}