@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color:#0D0D0D;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 1000px;
    background: #0D6BA6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    border-bottom: 1px solid #0D0D0D;
    transition: all 0.5s ease-in-out;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid #0D0D0D;
    color: #0D0D0D;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #0D0D0D;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a 
{
    color: #4978ff;

}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #0D6BA6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.banner h2 {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
}
.banner h2 span {
    font-weight: 700;
    color: #4978ff;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}
.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}
h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}
p {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.services {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}

.services .box .iconBx {
    margin-top: 20px;
}

.services .box .iconBx img {
    max-width: 70px;
    margin-bottom: 15px;
}

.services .box h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.stats {
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}
.stats h3,
.stats p {
    color: #fff;
}
.statsBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}
.statsBox h2 {
   color: #fff;
    font-size: 1.5em;    
}
.statsBox h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
.workBx .brand {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 300px;
    background: #4978ff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}
.workBx .brand:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.8);
    background: #555;
}

.workBx .brand a {
    text-decoration: none;
    color: rbga(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}

.workBx .brand:hover a h2 {
    color: rgba(255, 255, 255, 1);
}

.contact{
    background: #000;
}

.contact h3,
.contact p {
    color: #fff;
}
.contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;

}

.contactForm form {
    width: 100%;

}

.contactForm .row100{
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
} 

.contactForm .row100 input,
.contactForm .row100 textarea {
   position: relative;
   border: none;
   border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 100%;
    padding: 10px;
    ouline: none;
    font-size: 1em;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
    height: 100px;

}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;

}

.sci ul li {
    list-style: none;
    margin: 0 10px;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img {
    filter: invert(1);
    max-width: 40px;
}

.sci ul li a:hover img {
    opacity: 0.5;
}

.copyright a {
    color: #0D6BA6;
    text-decoration: none;
}

.toggle {
    display: none;
}

@media (max-width:992px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before {
        content: "";
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after {
        content: "";
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }
    header,
    header.sticky {
        padding: 5px 50px;
        background: #fff;
    }
    header ul {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    
    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    
    header.active ul li a {
        display: inline-block;
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 700;
    }

    header .logo,
    header ul li a {
        color: #0f0f0f;
    }

    .banner {
        background-position: center;
    }
    .banner h2 {
        font-size: 2em;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }
    .services .box {
        width: 100%;
    }
    .stats {
        padding-top: 50px;

    }
    .row100 {
        flex-direction: column;
    }
}