.swiper {

   width: 100%;
   padding:0 50px 50px 50px;
}

.swiper-slide {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background: #4978ff;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}
.swiper-slide p {
    text-align: left;
    color: #fff;
}
.swiper-slide:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
    background: #024873;
}

.swiper-slide  {
    display: flex;
    text-decoration: none;
    color: rbga(255, 255, 255, 0.5);
    font-size: 1em;
    letter-spacing: 2px;
    flex-direction: column;

}
.swiper-slide  span {
    display:none;
  
}
.swiper-slide:hover  span {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2px;
  
    font-weight: bold;
    opacity: 1;

}
.swiper-slide  h2{
    font-size: 1.5em;
    margin-bottom: 18px;
    margin-top: 0;
}
.swiper-slide:hover h2 {
    opacity: 0;
}
.swiper-slide  img {
    padding: 20px 0;
    width: 80%;
    margin-bottom: 15px;
    transition: 0.5s;
    border-radius: 15%;
}
.swiper-slide:hover  img {
    transform: scale(0.9);
    opacity: 0.1;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    width: 60px;
    height: 60px;
}


a {
    text-decoration: none;
    
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D6BA6;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    font-size: 1em;
    margin: 15px auto;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width:992px) {
    .swiper {
        display: none;
    }
}