/* css do header */

.maxWidth{
    max-width: 1300px;
    padding: 0px 10px;
    margin: auto;
}

.navbar .logo a{
    font-size: 30px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0px;
    background-color: #c6c6c6;
    border-bottom: 1px solid #ccc;
    box-shadow: #000 0px 0px 5px;
}

.navbar .maxWidth {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .menu a {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
}

.menuBtn {
   display: none;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar .menu a {
        display: none;
    }
    .navbar .menuBtn {
        display: block;
        z-index: 999;
    }
    .menuList {
        background-color: #000;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menuList h2 {
        position: absolute;
        top: 0%;
        right: 5%;
        background-color: #c6c6c6;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        margin-top: 50px;
    }
    .menuList a {
        display: flex;
        margin: 20px auto;
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        justify-content: center;
        align-items: center;

        
    }
   
}
    
.navbar .menuBtn:hover {
    color: #000;
    text-decoration: none;
}